
            <div class="card-container" >
                <div class="example-card " *ngIf="card">
                    <div>
                        <p>{{products?.nome}}</p>
                        <p>{{products?.tipo}}</p>
                        <p>Quantidade: {{products?.quantidade}} {{products?.unidmedida}}
                        </p>
                    </div>
                    <div>
                        <button mat-button class="buttom" (click)="productDetails()">DETALHES DESTE PRODUTO</button>
                    </div>
                </div>
            </div>


    <div class="container card" *ngIf="!card">
        <div class="example-card ">
            <div>
                <p>Detalhes do produto</p>
                <p>{{products?.nome}}</p>
                <p>{{products?.tipo}}</p>

            </div>

            <div>
                <p>Quantidade desse produto: {{products?.quantidade}} {{products?.unidmedida}}
                </p>
                <p>Esse produto é da cidade de {{products?.city}}</p>
                <p>Produtor: {{products?.produtor}} </p>
                <P>Contato: {{products?.contato}}</P>
            </div>
            <div>
                <button mat-button class="buttom" (click)="back()">VOLTAR</button>
            </div>
        </div>
    </div>
