.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 80px;
    
}
.example-card {
    width: 300px;
    margin: 20px 0;
    padding: 20px;
    
  }
  .buttom {
      background: #fff;
      color: #ff5411;
      letter-spacing: 0.3em;
      width: 100%;
      border: 2px solid #ff5411;
      font-weight: 600;
  }
  .buttom:hover {
    background: #ff5411;
    color: #fff;
  }

h3{
    font-size: 38px;
    font-weight: 500;
    letter-spacing: 0.3rem;
    text-align: center;
    padding: 30px 0;
    color: #fff;
    background: #7cad00;
}
