.container {
  width: 100%;
  max-width: 1200px;

}
.example-card {
    width: 300px;
    height: 100px;
    margin: 0; 
    padding: 20px 30px 60px 30px;
 
  }
  .buttom {
      background: #fff;
      color: #ff5411;
      letter-spacing: 0.3em;
      width: 100%;
      border: 2px solid #ff5411;
      font-weight: 600;
  }
  .buttom:hover {
    background: #ff5411;
    color: #fff;
  }

h3{
    font-size: 38px;
    font-weight: 500;
    letter-spacing: 0.3rem;
    text-align: center;
    padding: 30px 0;
    color: #fff;
    background: #7cad00;
}
.card-container{
  float: left;
  display: flex;
  margin-right: 5%;
  margin-bottom: 5%;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.card-container::after{
content: "";
display: table;
clear: both;
}
