.home {
    height: 600px;
}
.home-bg img{
    width: 100%;
    display: relative;
}
.home-bg h1 {
    font-size: 70px !important;
    color: #fff;
    position:absolute;
    font-size: 54px;
    bottom: 200px;
    left: 25%;
    margin: 0 auto;
}