.top-header {
    padding: 5px 0;
    background: #7cad00;
    color: #fff; 
    text-align: center;
}
.top-header span {
    padding-right: 40px;
}
.container {
    width: 100%;
}

mat-toolbar{
    background: #F7F9F9;
    color: #393232; 
    border-bottom: 2px solid #d1d1d1;
}
.logo {
    font-weight: 600;
    cursor: pointer;
}
.verde {
    color: #7cad00;
}
.menu {
    display: flex;
    padding: 40px 0;
    align-items: center;
    justify-content: space-evenly;
    font-size: 32px;    
    
}
.nav-menu{
    display: flex;
    gap: 20px;
}
.nav-menu a{
    justify-content: center;
    font-size: 18px;
    list-style: none;
}
.nav-menu a:hover {
    color: #7cad00; 
    
}
.nav-menu-2{
    display: flex;
    gap: 20px;
    font-size: 18px;
    list-style: none;
    align-items: center;
    
}
.login {
    justify-content: end;
    color: #ff5411; 
    border: 2px solid #ff5411;
    list-style: none;
    padding: 0px 15px;
    margin-left: 10px;
    
}
.login:hover{
    background: #ff4111;
    color: #fff;
}