html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$font-color: #111111;
$light-color: #efefef;
$clean-color: #e0d0c1;
$green-color: #1b2b74;
$red-color: #7cad00;
$abobora-color: #ff8811;
