.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 80px;
}
input {
    border: 2px solid #cdcdcd;
    padding: 10px 15px;
    width: 295px;
}
.d-flex {
    display: flex;
}